@tailwind base;
@tailwind components;
@tailwind utilities;

.section-container{
    @apply px-6 max-w-[1440px] mx-auto
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
      margin-top: 7px;
      color: rgba(0, 0, 0, 0);
      opacity: 1;
      display: block;
      background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
      width: 20px;
      height: 20px;
      /* border-width: thin; */
      cursor: pointer;
  }
    html {
      font-family: "IBM Plex Sans", system-ui, sans-serif;
      scroll-behavior: smooth;
    }

    
    ::-webkit-scrollbar {
      /* Customize the scrollbar width */
      border-radius: 5px;
      width: 2px;
      height: 2px;
  }
  
  ::-webkit-scrollbar-track {
      /* Customize the scrollbar track */
      overflow: hidden;
      background-color: rgba(211, 211, 211, 0.792);
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: #073b4cc1;
    border-radius: 5px;
      /* Customize the scrollbar thumb */
  }
  }

